<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Page</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/fontawesome.min.css"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="background-color: darkseagreen; padding: 300px; border-radius: 500px">
    <h2>Welcome to booking page</h2>
    <div class="alert alert-primary" role="alert" th:text="${successMessage}" th:if="${successMessage}"></div>
    <div class="alert alert-danger" role="alert" th:text="${errorMessage}" th:if="${errorMessage}"></div>
    <br/>
    <h2>Choose One Cruise</h2>
    <form class="well form-horizontal" action="/cruise/booking" method="post">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Cruise ID</th>
                <th>Cruise Name</th>
                <th>Ship Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Destination</th>
                <th>Select</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cruise:${cruises}">
                <td th:text="${cruise.cruiseId}">Cruise ID</td>
                <td th:text="${cruise.cruiseName}">Cruise Name</td>
                <td th:text="${cruise.shipName}">Ship Name</td>
                <td th:text="${#dates.format(cruise.startDate, 'yyyy/MM/dd')}">Start Date</td>
                <td th:text="${#dates.format(cruise.endDate, 'yyyy/MM/dd')}">End Date</td>
                <td th:text="${cruise.destination}">Destination</td>
                <td><input type="radio" th:name="selectedCruiseId" th:value="${cruise.cruiseId}" /> </td>
            </tr>
            </tbody>
        </table>

        <h2>Select Stateroom Type</h2>
        <div>
            <select id="stateroomType" name="stateroomType" class="form-select" onchange="showPrice()" required>
                <option>Standard</option>
                <option>Deluxe</option>
            </select>
        </div>

        <h2>Number of Guest</h2>
        <div>
            <input type="number" id="totalGuest" name="totalGuest" min="1" onchange="showPrice()" required>
        </div>

        <h2>Total Price</h2>
        <div>
            <input type="number" id="totalPrice" name="totalPrice" readonly>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Book Now</button>
    </form>
</div>

<script>
    function showPrice() {
        var stateroomType = document.getElementById("stateroomType").value;
        var guestNumber = document.getElementById("totalGuest").value;
        var priceInput = document.getElementById("totalPrice");

        var roomPrice;
        switch (stateroomType) {
            case "Standard":
                roomPrice = 2000.00;
                break;
            case "Deluxe":
                roomPrice = 4000.00;
                break;
            default:
                roomPrice = 0.00;
        }
        priceInput.value = roomPrice * guestNumber;
    }
</script>
</body>
</html>